<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI-Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TCI Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Travis-CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>116FCC2C23FB5F17002DFCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1177EF1823DDCF5F008E8A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1177EF2E23DDCF63008E8A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1177EF3923DDCF63008E8A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
